# Prep Student Performance

In [15]:
import pandas as pd
pd.set_option("display.max_columns",0)
fname = "../Data/student-performance-combined.xlsx"
with  pd.ExcelFile(fname) as f:
    sheet_names = f.sheet_names
    
sheet_names

['student-mat', 'student-por', 'DATA DICTIONARY', 'README']

## Version A) Split Into 2 CSV's

In [14]:
import os
OUTPUT_FOLDER = "../Data/Student-Performance-split/"
os.makedirs(OUTPUT_FOLDER, exist_ok=True)
os.listdir(OUTPUT_FOLDER)

[]

In [11]:
df_mat = pd.read_excel(fname, sheet_name='student-mat')
df_mat['Subject'] = "Math"
df_mat

    school sex  age address famsize  ... absences  G1  G2  G3 Subject
0       GP   F   18       U     GT3  ...        6   5   6   6    Math
1       GP   F   17       U     GT3  ...        4   5   5   6    Math
2       GP   F   15       U     LE3  ...       10   7   8  10    Math
3       GP   F   15       U     GT3  ...        2  15  14  15    Math
4       GP   F   16       U     GT3  ...        4   6  10  10    Math
..     ...  ..  ...     ...     ...  ...      ...  ..  ..  ..     ...
390     MS   M   20       U     LE3  ...       11   9   9   9    Math
391     MS   M   17       U     LE3  ...        3  14  16  16    Math
392     MS   M   21       R     GT3  ...        3  10   8   7    Math
393     MS   M   18       R     LE3  ...        0  11  12  10    Math
394     MS   M   19       U     LE3  ...        5   8   9   9    Math

[395 rows x 34 columns]

In [21]:
fname_out = OUTPUT_FOLDER + "student-performance-math.csv"
fname_out

'../Data/Student-Performance-split/student-performance-math.csv'

In [22]:
df_mat.to_csv(fname_out, index=False)

In [23]:
pd.read_csv(fname_out)

    school sex  age address famsize  ... absences  G1  G2  G3 Subject
0       GP   F   18       U     GT3  ...        6   5   6   6    Math
1       GP   F   17       U     GT3  ...        4   5   5   6    Math
2       GP   F   15       U     LE3  ...       10   7   8  10    Math
3       GP   F   15       U     GT3  ...        2  15  14  15    Math
4       GP   F   16       U     GT3  ...        4   6  10  10    Math
..     ...  ..  ...     ...     ...  ...      ...  ..  ..  ..     ...
390     MS   M   20       U     LE3  ...       11   9   9   9    Math
391     MS   M   17       U     LE3  ...        3  14  16  16    Math
392     MS   M   21       R     GT3  ...        3  10   8   7    Math
393     MS   M   18       R     LE3  ...        0  11  12  10    Math
394     MS   M   19       U     LE3  ...        5   8   9   9    Math

[395 rows x 34 columns]

In [13]:
df_por = pd.read_excel(fname, sheet_name='student-por')
df_por['Subject'] = "Portugese"
df_por

    school sex  age address famsize  ... absences  G1  G2  G3    Subject
0       GP   F   18       U     GT3  ...        4   0  11  11  Portugese
1       GP   F   17       U     GT3  ...        2   9  11  11  Portugese
2       GP   F   15       U     LE3  ...        6  12  13  12  Portugese
3       GP   F   15       U     GT3  ...        0  14  14  14  Portugese
4       GP   F   16       U     GT3  ...        0  11  13  13  Portugese
..     ...  ..  ...     ...     ...  ...      ...  ..  ..  ..        ...
644     MS   F   19       R     GT3  ...        4  10  11  10  Portugese
645     MS   F   18       U     LE3  ...        4  15  15  16  Portugese
646     MS   F   18       U     GT3  ...        6  11  12   9  Portugese
647     MS   M   17       U     LE3  ...        6  10  10  10  Portugese
648     MS   M   18       R     LE3  ...        4  10  11  11  Portugese

[649 rows x 34 columns]

In [18]:
fname_out = OUTPUT_FOLDER + "student-performance-por.csv"
fname_out

'../Data/Student-Performance-split/student-performance-por.csv'

In [19]:
df_por.to_csv(fname_out, index=False)

In [20]:
pd.read_csv(fname_out)

    school sex  age address famsize  ... absences  G1  G2  G3    Subject
0       GP   F   18       U     GT3  ...        4   0  11  11  Portugese
1       GP   F   17       U     GT3  ...        2   9  11  11  Portugese
2       GP   F   15       U     LE3  ...        6  12  13  12  Portugese
3       GP   F   15       U     GT3  ...        0  14  14  14  Portugese
4       GP   F   16       U     GT3  ...        0  11  13  13  Portugese
..     ...  ..  ...     ...     ...  ...      ...  ..  ..  ..        ...
644     MS   F   19       R     GT3  ...        4  10  11  10  Portugese
645     MS   F   18       U     LE3  ...        4  15  15  16  Portugese
646     MS   F   18       U     GT3  ...        6  11  12   9  Portugese
647     MS   M   17       U     LE3  ...        6  10  10  10  Portugese
648     MS   M   18       R     LE3  ...        4  10  11  11  Portugese

[649 rows x 34 columns]

## Version B) Merged and Melted

In [25]:
df = pd.concat([df_mat, df_por])
df

    school sex  age address famsize  ... absences  G1  G2  G3    Subject
0       GP   F   18       U     GT3  ...        6   5   6   6       Math
1       GP   F   17       U     GT3  ...        4   5   5   6       Math
2       GP   F   15       U     LE3  ...       10   7   8  10       Math
3       GP   F   15       U     GT3  ...        2  15  14  15       Math
4       GP   F   16       U     GT3  ...        4   6  10  10       Math
..     ...  ..  ...     ...     ...  ...      ...  ..  ..  ..        ...
644     MS   F   19       R     GT3  ...        4  10  11  10  Portugese
645     MS   F   18       U     LE3  ...        4  15  15  16  Portugese
646     MS   F   18       U     GT3  ...        6  11  12   9  Portugese
647     MS   M   17       U     LE3  ...        6  10  10  10  Portugese
648     MS   M   18       R     LE3  ...        4  10  11  11  Portugese

[1044 rows x 34 columns]

In [26]:
id_cols = df.drop(columns=['G1','G2','G3']).columns
id_cols

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'Subject'],
      dtype='object')

In [28]:
melted = pd.melt(df, id_vars=id_cols, value_name="Grade",var_name="Period")
melted

     school sex  age address famsize  ... health  absences    Subject Period Grade
0        GP   F   18       U     GT3  ...      3         6       Math     G1     5
1        GP   F   17       U     GT3  ...      3         4       Math     G1     5
2        GP   F   15       U     LE3  ...      3        10       Math     G1     7
3        GP   F   15       U     GT3  ...      5         2       Math     G1    15
4        GP   F   16       U     GT3  ...      5         4       Math     G1     6
...     ...  ..  ...     ...     ...  ...    ...       ...        ...    ...   ...
3127     MS   F   19       R     GT3  ...      5         4  Portugese     G3    10
3128     MS   F   18       U     LE3  ...      1         4  Portugese     G3    16
3129     MS   F   18       U     GT3  ...      5         6  Portugese     G3     9
3130     MS   M   17       U     LE3  ...      2         6  Portugese     G3    10
3131     MS   M   18       R     LE3  ...      5         4  Portugese     G3    11

[3132 rows x 33 columns]

In [32]:
OUTPUT_FOLDER ='../Data/Student-Performance-melted/'
os.makedirs(OUTPUT_FOLDER, exist_ok=True)
fname_out = OUTPUT_FOLDER + 'student-performance-combined-melted.csv'
fname_out

'../Data/Student-Performance-melted/student-performance-combined-melted.csv'

In [33]:
melted.to_csv(fname_out, index=False)