# Wk 19 Lect 02 - Prepare data

-

In [1]:
OUTPUT_FOLDER = "Data/Wk19Lect02/"

In [2]:
import pandas as pd
fname = "Data/student-performance-combined.xlsx"
with  pd.ExcelFile(fname) as f:
    sheet_names = f.sheet_names
    
sheet_names

['student-mat', 'student-por', 'DATA DICTIONARY', 'README']

In [3]:
## set save location 
import os
os.makedirs(OUTPUT_FOLDER, exist_ok=True)
print(f"[i] Saving .csv's to {OUTPUT_FOLDER}")

[i] Saving .csv's to Data/Wk19Lect02/

In [4]:
sheet = 'student-mat'
df = pd.read_excel(fname, sheet_name=sheet)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [5]:
ages = df['age'].unique()
ages

array([18, 17, 15, 16, 19, 22, 20, 21])

## Add the sheet name as a column and combine

In [11]:
sheet_folders = {'student-mat':'.', 'student-por':'Portugese'}

In [12]:
folder_out = os.path.join(OUTPUT_FOLDER, subfolder)
folder_out

'Data/Wk19Lect02/Portugese/'

In [14]:
for sheet, subfolder in sheet_folders.items():

    
    sheet_df = pd.read_excel(fname, sheet_name=sheet)
    
    grade_name = sheet.split('-')[-1]
    sheet_df['subject'] = grade_name
    
    
    ages = sheet_df['age'].unique()

    ## loop through years
    for age in ages:

        ## save temp slices of dfs to save.
        temp_df = sheet_df.loc[ sheet_df['age'] == age]
    #     temp_df = temp_df.reset_index(drop=False)
    #     temp_df = temp_df.drop(columns=FINAL_DROP)

        # save as csv to output folder
        folder_out = os.path.join(OUTPUT_FOLDER, subfolder)
        os.makedirs(folder_out, exist_ok=True)
        
        fname_temp = f"{folder_out}/Student_Performance-{grade_name}_age-{age}.csv"#.gz
        temp_df.to_csv(fname_temp,index=False)

        print(f"- Succesfully saved {fname_temp}")

- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-18.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-17.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-15.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-16.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-19.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-22.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-20.csv
- Succesfully saved Data/Wk19Lect02/./Student_Performance-mat_age-21.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-18.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-17.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-15.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-16.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-19.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-22.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-20.csv
- Succesfully saved Data/Wk19Lect02/Portugese/Student_Performance-por_age-21.csv

In [15]:
import glob
exported_files = sorted(glob.glob(OUTPUT_FOLDER+"**/*.csv", recursive=True))
exported_files

['Data/Wk19Lect02/Portugese/Student_Performance-por_age-15.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-16.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-17.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-18.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-19.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-20.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-21.csv',
 'Data/Wk19Lect02/Portugese/Student_Performance-por_age-22.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-15.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-16.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-17.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-18.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-19.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-20.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-21.csv',
 'Data/Wk19Lect02/Student_Performance-mat_age-22.csv']

In [16]:
pd.read_csv(exported_files[-1])

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,M,22,U,GT3,T,3,1,services,services,...,4,5,5,5,1,16,6,8,8,mat

In [17]:
pd.read_csv(exported_files[-2])

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,mat

In [18]:
## SETTING FOLDER TO SAVE ZIPPED OUTPUT_FOLDER 
from pathlib import Path

fpath = Path(OUTPUT_FOLDER)
fpath

PosixPath('Data/Wk19Lect02')

In [19]:
ZIP_FOLDER = fpath.parent
ZIP_FOLDER.mkdir(exist_ok=True)
ZIP_FILE = ZIP_FOLDER/"Student-Performance-by-subject-age.zip"
ZIP_FILE

PosixPath('Data/Student-Performance-by-subject-age.zip')

In [22]:
ZIP_FILE

PosixPath('Data/Student-Performance-by-subject-age.zip')

In [27]:
test = exported_files[0]
print(test)
os.path.split(test)

Data/Wk19Lect02/Portugese/Student_Performance-por_age-15.csv

('Data/Wk19Lect02/Portugese', 'Student_Performance-por_age-15.csv')

In [29]:
## testing getting relative path for zipfile
test_path = Path(test)
test_path.parent

PosixPath('Data/Wk19Lect02/Portugese')

In [30]:
test_path.relative_to(OUTPUT_FOLDER)

PosixPath('Portugese/Student_Performance-por_age-15.csv')

In [31]:
test_path_abs = Path(os.path.abspath(test))
test_path_abs

PosixPath('/Users/codingdojo/Documents/GitHub/_CURRICULUM/_DATA_VIZ/data-viz-codealong-planning/Data/Wk19Lect02/Portugese/Student_Performance-por_age-15.csv')

In [32]:
test_path_abs.parent

PosixPath('/Users/codingdojo/Documents/GitHub/_CURRICULUM/_DATA_VIZ/data-viz-codealong-planning/Data/Wk19Lect02/Portugese')

In [34]:
# test_path_abs.relative_to(OUTPUT_FOLDER)

In [35]:
import zipfile
# final_fname = 'ExamData/Data Viz Belt Exam - OptionA.zip'
with zipfile.ZipFile(ZIP_FILE,'w', 
            compression=zipfile.ZIP_DEFLATED, compresslevel=9,) as zf:
    for file in exported_files:
        
#         abspath = os.path.abspath(file)
#         zf.write(abspath, os.path.basename(abspath))
        path = Path(file)
        zf.write(path, path.relative_to(OUTPUT_FOLDER))

In [36]:
import webbrowser
webbrowser.open("https://drive.google.com/drive/u/0/folders/1V8TrA3bPLWf-Z5LJU8G9CiOPnWc6Xtbm")

True